{% extends 'base2.html' %}
{% block content %}

{% block title %}<title>Shopare | Stores | Clothing </title>{% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/yellow.css' %}">
<link rel="stylesheet" href="{% static 'css/red.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Poppins";
    }

    p {
        font-size: 15px;
        font-family: "lato";
        line-height: 28px;
        color: #9fa4af;
        display: inline-block;
        letter-spacing: 0.5px;
    }

    ul li,
    ol li {
        font-family: "Poppins";
    }
    .block {
    float: left;
    padding: 77px 0;
    position: relative;
    width: 100%;
}
    a,
    a:hover,
    a:focus,
    a:active {
        color: black;
        outline: none;
        -webkit-text-decoration: none;
        -moz-text-decoration: none;
        -ms-text-decoration: none;
        -o-text-decoration: none;
        text-decoration: none;
    }
</style>
                                  
<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>Multi Grocery and store system</span>
                            <h2 itemprop="headline">Top MERCHANTS</h2>
                            <p itemprop="description">Things that get tricky are things like fruits and vegetables, or
                                things that are deep-fried. We do have a couple of fruit MERCHANTS that are capable of
                                doing a good job transporting but it's Fries are almost impossible.</p>
                        </div>
                    </div>
                    <div class="top-MERCHANTS-wrapper">
                        <ul class="MERCHANTS-wrapper style2">
                            <li class="wow bounceIn" data-wow-delay="0.2s">
                                <div class="top-Merchant"><a class="brd-rd50" href="#" title="Merchant 1"
                                        itemprop="url"><img src="{% static 'img\top-Merchant1.png' %}" alt="top-Merchant1.png"
                                            itemprop="image"></a></div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="0.4s">
                                <div class="top-Merchant"><a class="brd-rd50" href="#" title="Merchant 2"
                                        itemprop="url"><img src="{% static 'img\top-Merchant2.png' %}" alt="top-Merchant2.png"
                                            itemprop="image"></a></div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="0.6s">
                                <div class="top-Merchant"><a class="brd-rd50" href="#" title="Merchant 3"
                                        itemprop="url"><img src="{% static 'img\top-Merchant3.png' %}" alt="top-Merchant3.png"
                                            itemprop="image"></a></div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="0.8s">
                                <div class="top-Merchant"><a class="brd-rd50" href="#" title="Merchant 4"
                                        itemprop="url"><img src="{% static 'img\top-Merchant4.png' %}" alt="top-Merchant4.png"
                                            itemprop="image"></a></div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="1s">
                                <div class="top-Merchant"><a class="brd-rd50" href="#" title="Merchant 5"
                                        itemprop="url"><img src="{% static 'img\top-Merchant5.png' %}" alt="top-Merchant5.png"
                                            itemprop="image"></a></div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="1.2s">
                                <div class="top-Merchant"><a class="brd-rd50" href="#" title="Merchant 5"
                                        itemprop="url"><img src="{% static 'img\top-Merchant6.png' %}" alt="top-Merchant6.png"
                                            itemprop="image"></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- top resturents -->

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>All About </span>
                            <h2 itemprop="headline">Fashion, Beauty & Models</h2>
                        </div>
                    </div>
                    <div class="row remove-ext5">
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="popular-dish-box wow fadeIn" data-wow-delay="0.2s">
                                <div class="popular-dish-thumb">
                                    <a href="/accounts/grocery" title="" itemprop="url"><img src="images\models.jpg"
                                            alt="popular-dish-img1.jpg" itemprop="image"></a>
                                </div>
                                <div class="popular-dish-info">
                                    <h4 itemprop="headline"><a href="/accounts/grocery" title="" itemprop="url">
                                            MODELS</a>
                                    </h4>
                                    <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry
                                    </p>
                                    <a class="brd-rd2" href="/accounts/grocery" title="Order Now"
                                        itemprop="url">Explore Now</a>
                                    <div class="Merchant-info">
                                        <img src="assets/images/resource/Merchant-logo1.png" alt="Merchant-logo1.png"
                                            itemprop="image">
                                        <div class="Merchant-info-inner">
                                            <h6 itemprop="headline"><a href="Merchant-detail.html" title=""
                                                    itemprop="url">Fabio al Porto
                                                    Ristorante</a></h6>
                                            <span class="red-clr">5th Avenue New York 68</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Popular Dish Box -->
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="popular-dish-box wow fadeIn" data-wow-delay="0.4s">
                                <div class="popular-dish-thumb">
                                    <a href="grocery-detail.html" title="" itemprop="url"><img
                                            src="images\beautician.jpg" alt="popular-dish-img2.jpg"
                                            itemprop="image"></a>
                                </div>
                                <div class="popular-dish-info">
                                    <h4 itemprop="headline"><a href="grocery-detail.html" title="" itemprop="url">
                                            BEAUTICIAN</a>
                                    </h4>
                                    <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry
                                    </p>
                                    <a class="brd-rd2" href="grocery-detail.html" title="Order Now"
                                        itemprop="url">Explore Now</a>
                                    <div class="Merchant-info">
                                        <img src="assets/images/resource/Merchant-logo1.png" alt="Merchant-logo2.png"
                                            itemprop="image">
                                        <div class="Merchant-info-inner">
                                            <h6 itemprop="headline"><a href="Merchant-detail.html" title=""
                                                    itemprop="url">Fabio al Porto
                                                    Ristorante</a></h6>
                                            <span class="red-clr">5th Avenue New York 68</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Popular Dish Box -->
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="popular-dish-box wow fadeIn" data-wow-delay="0.6s">
                                <div class="popular-dish-thumb">
                                    <a href="grocery-detail.html" title="" itemprop="url"><img src="images\fashion.jpg"
                                            alt="popular-dish-img3.jpg" itemprop="image"></a>
                                </div>
                                <div class="popular-dish-info">
                                    <h4 itemprop="headline"><a href="grocery-detail.html" title="" itemprop="url">
                                            FASHION</a></h4>
                                    <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry
                                    </p>
                                    Explore <a class="brd-rd2" href="grocery-detail.html" title="Order Now"
                                        itemprop="url">Explore Now</a>
                                    <div class="Merchant-info">
                                        <img src="assets/images/resource/Merchant-logo1.png" alt="Merchant-logo3.png"
                                            itemprop="image">
                                        <div class="Merchant-info-inner">
                                            <h6 itemprop="headline"><a href="Merchant-detail.html" title=""
                                                    itemprop="url">Fabio al Porto
                                                    Ristorante</a></h6>
                                            <span class="red-clr">5th Avenue New York 68</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Popular Dish Box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- choose and enjoy meal -->
{%load static %}
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/plugin.js' %}"></script>
{% endblock content %}